<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <api >
      <services >
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure" >
          <allowedControllers hint="list:AddController" >
            <allowedController desc="ExmListController" patch:after="allowedController[@desc='ListController']" >
              Sitecore.Support.EmailCampaign.Server.Controllers.DataSource.ListSupportController, Sitecore.Support.150496
            </allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <services>
      <configurator type="Sitecore.Support.EmailCampaign.Server.DependencyInjection.CustomServiceConfigurator, Sitecore.Support.150496"
                    patch:after="configurator[@type='Sitecore.EmailCampaign.Server.DependencyInjection.CustomServiceConfigurator, Sitecore.EmailCampaign.Server']" />
    </services>
  </sitecore>
</configuration>